---
layout: default
---

<div class="home">

  <h1 class="page-heading">Hey, what's going on?</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {% if post.excerpt contains "a" %}
        {{ post.excerpt }}<br>
        {% else %}
        {{ post.content | strip_html | truncatewords:75}}<br>
        {% endif %}
        <a href="{{ post.url }}">Lees verder...</a><br><br>          

      </li>
    {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
